{% extends 'base.html'%}
{% block title%}
Hello me
{% endblock%}


{% block content%}
<div class="div-form">

    <form method="POST">
        {% csrf_token %}


        <div class="mb-3">
            <label for="f" class="form-label">username</label>
            <input type="text" name="username" class="form-control">
        </div>
        
        <div class="mb-3">
            <label for="f" class="form-label">password</label>
            <input type="password" name="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>



    </form>

    <div>
        <a href="signup">new user? ..Register here..</a>
    </div>
</div>

{% endblock%}