
{% extends 'base.html'%}
{% block title%}
Hello me
{% endblock%}


{% block content%}
<div style="margin:50px;" >
    <form method="POST">
        {% csrf_token %} 
        

    <div>
        <div>
            <label>USER NAME : </label>
        </div>
        <div>
            <input type="text" name="username">
        </div>
    </div> 

    
    <div>
        <div>
            <label>USER PASS : </label>
        </div>
        <div>
            <input type="password" name="password">
        </div>
    </div> 

    
    <div>
        <input type="submit">
    </div>


</form>
    
    <div>
        <a href="signup">new user? ..Register here..</a>
    </div>
</div>
{% endblock%}

