
{% extends 'base.html'%}
{% block title%}
Hello me
{% endblock%}


{% block content%}
<div style="margin:50px;">

    

    <div>
        <div>
            <label>USER NAME : </label>
        </div>
        <div>
            <input type="text" name="username">
        </div>
    </div> 

    
    <div>
        <div>
            <label>USER NAME : </label>
        </div>
        <div>
            <input type="text" name="username">
        </div>
    </div> 

    
    <div>
        <input type="submit">
    </div>

</div>
{% endblock%}

